* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.calculator-container {
  width: 50%;
  margin: 50% auto;
}

.row {
  display: flex;
  width: 100%;
}

.display {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  background-color: #858694;
}

.input {
  padding: 10px;
  color: #fff;
}

.operation,
.number {
  width: 25%;
  text-align: center;
  border: 1px solid #c3c3c3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  font-size: 12px;
}

.right {
  background-color: #f5913e;
}

.zero {
  width: 50%;
}

@media only screen and (min-width: 767px) {
  .calculator-container {
    width: 25%;
    margin: 30vh auto;
  }
}
